aiofiles
bard
pornhub-api==0.2.0
aiohttp
beautifulsoup4
blackpink
deepai
dnspython
ffmpeg-python
gitpython
hachoir
Faker
pydub
pycountry
heroku3
apscheduler
motor
pillow
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram
python-dotenv
pyyaml
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.4.7
httpx==0.25.2
gpytranslate
openai==0.28.0
